{% include 'cabecera.html' %}
<br>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="card border-table">
                <div class="card-header text-center">
                    <b class="crud-title">Agregar categoria</b>
                </div>
                <div class="card-body">
                <section class="crud">
                    <article>
                    <form class="crud-form">

                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre categoria</label>
                            <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="Escriba el nombre de la nueva categoria" required>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Descripción</label>
                            <textarea type="text" class="form-control" name="description" id="description" aria-describedby="helpId" placeholder="Escriba la descripcion de la categoria"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="file_name" class="form-label">Archivo</label>
                            <input type="file" class="form-control" name="file_name" id="file_name" aria-describedby="helpId" placeholder="Adjuntar">
                        </div>
                        <div class="card-footer text-center">
                            <input type="submit" value="enviar">
                            <input type="hidden" name="id">
                        </div>
                        
                    </form>

                </article>

              </section>
              <template id="crud-template">
              </template>

{% include 'pie_pagina.html' %}