{% include 'cabecera_user.html' %}

<div class="container">
    <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4">
            <div class="card border-table">
                <div class="card-header text-center">
                    <b>Inicio de sesión</b>
                </div>
                <div class="text-center">
                    <img class="style-icon-login" src="https://cdn-icons-png.flaticon.com/512/6681/6681204.png" alt="Login">
                </div>
                <div class="card-body">
                    <form id="login-form">

                        <div class="mb-3">
                            <label for="email_i"" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email_i" id="email_i" aria-describedby="helpId" placeholder="Escriba su Email" required>
                        </div>

                        <div class="mb-3">
                            <label for="password_i" class="form-label">Contraseña</label>
                            <input type="password" class="form-control " name="password_i" id="password_i" aria-describedby="helpId" placeholder="Escriba su Contraseña" required>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-all"><b><a class="text-white" style="text-decoration: none";>Entrar</a></b></button>
                            
                        </div>

                    </form>
                </div>
                <div class="card-footer"> <a href="{{url_for('app_routes.register')}}">Registrarse</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'pie_pagina.html' %}
