{% include 'cabecera_user.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
       
        <div class="col-md-6">
            <div class="card border-table">
                
                <div class="card-header text-center">
                    <b>Registrarse</b>
                </div>
               
                <div class="card-body">
                    <form id="form">

                        

                        <div class="mb-3" id="first_name-group">
                            <label for="first_name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="helpId" placeholder="Escriba su nombre">
                        </div>

                        <div class="mb-3" id="last_name-group">
                            <label for="last_name" class="form-label">Apellido</label>
                            <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="helpId" placeholder="Escriba su apellido">
                        </div>

                        <div class="mb-3" id="email-group" >
                            <label for="email" class="form-label">Correo</label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="Escriba su correo electronico">
                        </div>

                        <div class="mb-3" id="password-group">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Escriba su contraseña">
                        </div>

                        <div class="mb-3" id="password-group">
                            <label for="password" class="form-label">Confirmar contraseña</label>
                            <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Repita su contraseña">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn text-white btn-all"><b><a class="text-white"  style="text-decoration: none">Registrarse</a></b></button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="" value="option1">
                        <label class="form-check-label" for=""><a href="#">Acepto terminos y condiciones</a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'pie_pagina.html' %}