{% include 'cabecera_user.html' %}

<div class="container">
    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-9 text-center">
                    <div class="card-body">
                        <form action="" class="formulario">
                            <div>
                                <h2 class="title-test">Seleccione las palabras que se acomoden a su preferencia</h2><br>

                                <input type="checkbox" name="name_categorie" id="paciente">
                                <label class="label-test" for="paciente">Paciente</label>
        
                                <input type="checkbox" name="name_categorie" id="Amigable">
                                <label class="label-test" for="Amigable">Amigable Lorem, ipsum dolor sit amet consectetur elit.</label>
        
                                <input type="checkbox" name="name_categorie" id="Honrado">
                                <label class="label-test" for="Honrado">Honrado </label>
        
                                <input type="checkbox" name="name_categorie" id="Calidad">
                                <label class="label-test" for="Calidad">Calidad humana</label>

                                <input type="checkbox" name="name_categorie" id="Temperamento">
                                <label class="label-test" for="Temperamento">Temperamental</label>
        
                                <input type="checkbox" name="name_categorie" id="Social">
                                <label class="label-test" for="Social">Social</label>
        
                                <input type="checkbox" name="name_categorie" id="Influenciable">
                                <label class="label-test" for="Influenciable">Influenciable</label>
        
                                <input type="checkbox" name="name_categorie" id="Lider">
                                <label class="label-test" for="Lider">Lider</label>

                                <input type="checkbox" name="name_categorie" id="Divertido">
                                <label class="label-test" for="Divertido">Divertido</label>

                                <input type="checkbox" name="name_categorie" id="Timido">
                                <label class="label-test" for="Timido">Timido</label>

                                <input type="checkbox" name="name_categorie" id="Empatico">
                                <label class="label-test" for="Empatico">Lorem</label>

                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn text-white btn-login"><b>Continuar</b></button>
                            </div>
                            
                        </form>
                    </div>
            
            </div>
        </div>
    </div>

</div>

{% include 'pie_pagina.html' %}