{% include 'headboard_user.html' %}

<div class="container">
    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-9 text-center">
                    <div class="card-body">
                        <form action="" class="formulario">
                            <h2 class="title-test" style="font-size: 1.5em;">Seleccione las palabras que se acomoden a su preferencia</h2><br>
                            <div id="checkbox-container">
                              <!-- Here the checkboxes will be added dynamically -->
                            </div>
                            <div class="text-center">
                              <button type="submit" class="btn text-white btn-all"><b>Continuar</b></button>
                            </div>
                          </form>
                          
                          
                    </div>
            
            </div>
        </div>
    </div>

</div>
  <script type="text/javascript" src="../static/js/words.js?{{ cache_id }}"></script>

{% include 'pie_pagina.html' %}