{% include 'cabecera.html' %}
        <br>
        <section>
            <article>
                <div class="container size-container">
                    <table>
                        <br>
                        <thead>
                            <tr>
                            {% for category in categories %}
                                <th colspan="6" class="hd-table"><h2 class="category-table"><b>{{category[0].name}}</b></h2></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                {% for word in category[1] %}
                                <td><p class="word-table text-center">{{ word.name }}</p></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
{% include 'pie_pagina.html' %}