{% include 'cabecera.html' %}
<br>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="card border-table">
                <div class="card-header text-center">
                    <b>Crear nueva categoria</b>
                </div>
                <div class="card-body">

                    <form action="{{url_for('app_views.create_categories')}}" method="get">

                        <div class="mb-3">
                            <label for="txtNombre" class="form-label">Nombre categoria</label>
                            <input type="text" class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Escriba el nombre de la nueva categoria">
                        </div>

                        <div class="mb-3">
                            <label for="txtDescripcion" class="form-label">Descripción</label>
                            <textarea type="text" class="form-control" name="txtDescripcion" id="txtDescripcion" aria-describedby="helpId" placeholder="Escriba la descripcion de la categoria"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="txtArchivo" class="form-label">Archivo</label>
                            <input type="file" class="form-control" name="txtArchivo" id="txtArchivo" aria-describedby="helpId" placeholder="Adjuntar">
                        </div>
                        
                    </form>

                </div>

                <div class="card-footer text-center">
                    <button type="submit" class="btn bg-purple text-white"><b>Guardar</b></button>
                </div>

            </div>
        </div>
        <div class="col-md-3">
        </div>        
    </div>
</div>

{% include 'pie_pagina.html' %}